	body{
	font: 15px/1.5 'Montserrat', sans-serif;
	padding:0;
	margin:0;
	background-color: #ffffff
}

body a{
	color: #d2d2d2;
	text-decoration:underline;
	font-size:15px;
}

body a:hover{
	color: #000000;
}

/*global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	max-width: 850px
}

.container2{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.underline{
	border-bottom: 3px  solid #000000;
	padding-bottom:1.5px;
	line-height: 1.5;
}

ul{
	margin:0;
	padding: 0;
}


/*header*/


header{

color: #000000;
padding-top: 30px;
min-height: 80px;
 
}

header a{
	color: #000000;
	text-decoration:none;
	font-size:15px;
}



header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;

}
header #branding h1{
	margin:2px;
}

header nav{
	float:right;
	margin-top: 10px;
}
 
header .current {
	color: #000000;
}


/*COOL LINK
header .current {
	color:#000000;
	font-weight:medium;
  	border-bottom: 8px  solid;
  	border-bottom-color: #519075 padding-left 5px;
}
*/

/*COOL LINK*/

.cool-link {
    padding: 0 20px 0 20px;
}

.cool-link {
    display: inline-block;
    color: #000000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}

.cool-link:active::after {
    width: 100%;
    //transition: width .3s;
}



/*showcase*/

#showcase{
	min-height: 400px;
	background:url('/img/showcase.jpg') no-repeat fixed center +10px;
	background-size: cover;
    opacity: 0.45;
    filter: alpha(opacity=50); /* For IE8 and earlier */	
	text-align:left;
	color:#ffffff;	
}

#showcase h1{
	margin-top: 60px;
	font-size: 40px;
	margin-bottom: 10px;
	line-height: 55px;
	text-align: left;

}

#showcase p{
	font-size:20px;
	padding-left:  0%;
	padding-right:  60%;
	text-align: left;
}

#showcase h1 .underline{
	border-bottom: 3px  solid #fff;
	padding-bottom:1.5px;
	line-height: 1.5;
}




/*downarrow*/

#showcase {
  position: relative;
  width: 100%;
  height: 50%;
}

#showcase {
  padding-top: 20px;
}
#showcase a span {
  position: absolute;
  top: 320px;
  left: 50%;
  width: 28px;
  height: 28px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/*case*/

#case img{
	max-width: 850px;
	width: 100%;
    height: auto;
}

#case {
	padding-top: 10px;
	width: 80%;
	margin: auto;
	overflow: hidden;
	max-width: 850px
}

/*showcaseresume*/

#showcaseresume{
	min-height: 10px;
	background:url('../img/showcase.jpg') no-repeat fixed left; 
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */	
	text-align:center;
	color:#ffffff;	
	font-size: 30px;
}


/*Resume*/
#resume {
	padding-top: 20px;
	width: 80%;
	margin: auto;
	overflow: hidden;
	max-width: 850px
}

#resume h2:before {
    content: ' \270E';
    font-size: 25px;
}

#resume h2 {
    font-size: 15px;
    font-weight: lighter;
}

#resume h3, #case h3 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

#resume h4{
    font-size: 18px;
    font-weight: medium;
    line-height: 0;
}

/*Interest Images*/



#images .image{
	float:left;

	width:33.33%;
	padding:0px;	
}

#images .image img{
	width:100%;
	padding-top: 0px;
}


/*Boxes*/

#boxes{
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
    
}

#boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding:13px;	
}

#boxes .box img{
	width:90;
	padding-top: 10px;
}


/* main-col */

article#main-col{
	text-align: center;
	padding-right: 25px;
	padding-left: 25px;
	
}
/*Services*/

ul#services li{
	list-style:none;
	padding:20px;
	border: #cccccc solid 1px;
	margin-top:20px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

footer{
	padding:50px;
	margin-top: 0px;
	color:#000000;
	background-color: #ffffff;
	text-align:center;
}

footer a{
	color: #d2d2d2;
	text-decoration:none;
	font-size:16px;
}

footer li{
	float:center;
	display:inline;
	padding: 0 20px 0 20px;
}

footer a:hover{
	color: #000000;
	font-weight: medium;

}
/* Media queries*/

@media(max-width: 975px){
 #boxes .box{
  float:none;
  width:100%;
  padding:0px;
  }

   #images .image{
  float:left;
  width:33.333333%;
 
  }


   #showcase p{
  font-size: 19px;
  line-height: 1.3;

  	padding-left:  0%;
	padding-right:  55%;
  }


@media(max-width: 730px){
  header #branding,
  header nav,
  header nav li,
  #showcase,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
    padding:0px;
  }

.container{
	width: 90%;
 }

   #images .image{
  float:left;
  width:50%;
  }

#resume, #case {
	width: 100%;
 }


  header{
    padding-bottom:20px;
  }

 #showcase h1{
 	text-align: center;
   margin-top:50px;
   font-size: 35px;
    line-height: 1.05;
  }

#showcase{
	min-height: 400px;
	background:url('/img/showcase.jpg') no-repeat center;
	background-size: 730px;
 }

 #showcase p{
  font-size: 19px;
  line-height: 1.3;
  	padding-left:  0%;
	padding-right:  0%;
  }

#boxes .box{
	padding-top:5px;
	width: 100%;
  }

.cool-link {
	padding-left: 0px;
	line-height: 2.4;
    display: inline-block;
    color: #000000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: none;
    width: 0;
    height: 3px;
    background: #000000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    display: none;
}

.cool-link:active::after {
    width: 100%;
    //transition: width .3s;
    display: none;
    font-weight: bold;
}

li .underline {
	border-bottom: 0px  solid #519075;
	text-decoration: underline;
	line-height: 2.4;
	 }

@media(max-width: 380px){
#showcase p{
  padding-top: 8PX;
  display: none;	
	 }
#showcase h1{
	font-size: 28px;
	text-align: center;
   	margin-top: 190px;
    }

 



