	body{
	font: 15px/1.5 'Montserrat', sans-serif;
	padding:0;
	margin:0;
	background-color: #ffffff
}

body a{
	color: #d2d2d2;
	text-decoration:underline;
	font-size:15px;
}

body a:hover{
	color: #000000;
}

/*global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	max-width: 850px

}

.container img{
	width: 1020px;
}



.underline{
	border-bottom: 8px  solid #519075;
	padding-bottom:1.5px;
	line-height: 1.4;
}

ul{
	margin:0;
	padding: 0;
}


/*header*/


header{

color: #000000;
padding-top: 30px;
min-height: 80px;
 
}

header a{
	color: #000000;
	text-decoration:none;
	font-size:15px;
}



header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;

}
header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}
 
header .current {
	color: #000000;
}


/*COOL LINK
header .current {
	color:#000000;
	font-weight:medium;
  	border-bottom: 8px  solid;
  	border-bottom-color: #519075 padding-left 5px;
}
*/

/*COOL LINK*/


.cool-link {
    display: inline-block;
    color: #000000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 8px;
    background: #519075;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}

.cool-link:active::after {
    width: 100%;
    //transition: width .3s;
}



/*showcase*/

#showcase{
	min-height: 400px;
	background:url('../img/showcase.jpg') no-repeat fixed left; 
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */	
	text-align:center;
	color:#ffffff;	
}

#showcase h1{
	margin-top: 100px;
	font-size: 50px;
	margin-bottom: 10px;
	line-height: 55px;

}

#showcase p{
	font-size:20px;
	padding-left:  10%;
	padding-right:  10%;

}

#showcase .container img{
	width:50;
	padding-bottom: 20px;
}

/*test
#showcase p:after {
    content: ' \261F';
    font-size: 60px;
} */

/*case*/

#case img{
	max-width: 850px;
	    width: 100%;
    height: auto;
}

#case {
	padding-top: 20px;
	width: 80%;
	margin: auto;
	overflow: hidden;
	max-width: 850px
}

/*showcaseresume*/

#showcaseresume{
	min-height: 10px;
	background:url('../img/showcase.jpg') no-repeat fixed left; 
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */	
	text-align:center;
	color:#ffffff;	
	font-size: 30px;
}


/*Resume*/
#resume {
	padding-top: 20px;
	width: 80%;
	margin: auto;
	overflow: hidden;
	max-width: 850px
}


#resume h2:before {
    content: ' \270E';
    font-size: 25px;
}

#resume h2 {
    font-size: 15px;
    font-weight: lighter;
}


/*Boxes*/

#boxes{
	margin-top:20px;
	margin-bottom: 25px;
	width: 100%;
	overflow: hidden;
	max-width: 1600px
	font-size: 15px;
	text-align: center;
    
}

#boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding:13px;	
}

#boxes .box img{
	width:90;
}


/* main-col */

article#main-col{
	text-align: center;
	padding-right: 25px;
	padding-left: 25px;
	
}
/*Services*/

ul#services li{
	list-style:none;
	padding:20px;
	border: #cccccc solid 1px;
	margin-top:20px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

footer{
	padding:50px;
	margin-top: 0px;
	color:#000000;
	background-color: #ffffff;
	text-align:center;
}

footer a{
	color: #d2d2d2;
	text-decoration:none;
	font-size:16px;
}

footer li{
	float:center;
	display:inline;
	padding: 0 20px 0 20px;
}

footer a:hover{
	color: #000000;
	font-weight: medium;

}
/* Media queries*/
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #showcase,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

 #showcase h1{
   margin-top:40px;
  }

   #showcase p{
   	padding-left:  0%;
	padding-right:  0%;
	 }

.cool-link{
	padding-left: 0px;
	float: none;
	width:25%;
	padding: 0px;
	 }

