body{
	font: 15px/1.5 'Montserrat', sans-serif;
	padding:0;
	margin:0;
	background-color: #ffffff
}

body a{
	color: #d2d2d2;
	text-decoration:underline;
	font-size:15px;
}

body a:hover{
	color: #000000;
}

/*global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.container img{
	width: 1020px;
}

ul{
	margin:0;
	padding: 0;
}

.button_1{
	height:38px;
	background: #e8491d;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color:#ffffff;
}
.dark{
	padding:20px;
	padding-top:5px;
	padding-bottom:5px;
	background:#18491d;
	color:white;
	margin-top:20px;
	margin-bottom: 20px;
}

/*header*/


header{

color: #ffffff;
padding-top: 30px;
min-height: 80px;
 
}

header a{
	color: #d2d2d2;
	text-decoration:none;
	font-size:16px;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;

}
header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}
 
header .highlight, header .current a{
	color:#000000;
	font-weight:bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;

}

/*showcase*/

#showcase{
	min-height: 400px;
	background:url('../img/showcase.jpg') no-repeat fixed left; 
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */	
	text-align:center;
	color:#ffffff;	
}

#showcase h1{
	margin-top: 100px;
	font-size: 50px;
	margin-bottom: 10px;

}

#showcase p{
	font-size:20px;
	padding-left: 100px;
	padding-right: 100px;
}

/*Boxes*/

#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding:10px;
	
}

#boxes .box img{
	width:90;
}



/* main-col */


article#main-col{
	text-align: center;
	padding-right: 25px;
	padding-left: 25px;
	
}
/*Services*/

ul#services li{
	list-style:none;
	padding:20px;
	border: #cccccc solid 1px;
	margin-top:20px;
	margin-bottom: 5px;
	background: #e6e6e6;

}

footer{
	padding:30px;
	margin-top:30px;
	color:#000000;
	background-color: #ffffff;
	text-align:center;
}

footer a{
	color: #d2d2d2;
	text-decoration:none;
	font-size:16px;
}

footer li{
	float:center;
	display:inline;
	padding: 0 20px 0 20px;
}

footer a:hover{
	color: #000000;
	font-weight: bold;

}
/* Media queries*/
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

 #showcase h1{
   margin-top:40px;
  }

/*chart*/
#mychart{
  max-width: 800px;
  margin: 50px auto;
}

#wrapper{
	text-align: center;
	padding-right: 25px;
	padding-left: 25px;
}
.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

